# TensorFlow graph data files
events.out.tfevents*

/images
/training_images
/test_images

/traffic_lights
/traffic_lights_with_info

/data
/training_data
/test_data

/ssd_inception_v2_coco_2017_11_17

ssd_inception_v2_coco_2017_11_17.tar
ssd_inception_v2_coco_2017_11_17.tar.gz

/ssd_inception_v2_coco_2018_01_28

ssd_inception_v2_coco_2018_01_28.tar
ssd_inception_v2_coco_2018_01_28.tar.gz

/ssd_mobilenet_v1_coco_2017_11_17

ssd_mobilenet_v1_coco_2017_11_17.tar.gz

/training

/inference_graph